<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Houve um erro na aplicação</h1>
<p>
  <%= @exceptionn.cause.methods %>
</p>
<p><%= @exceptionn.cause.backtrace %></p>
</body>
</html>