<div class="modal fade" id="lg-modal-app" tabindex="-1" aria-labelledby="lg-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center" id="lg-modal-title"></h5>
        <button type="button" class="btn-danger btn-sm float-right" data-dismiss="modal" aria-label="Close">x</button>
      </div>

      <div class="modal-body">
        <div id="lg-modal-error-explanation"></div>
        <div id="lg-modal-body">

        </div>
      </div>
      <div class="modal-footer" id="lg-modal-footer">
        <button id="lg-modal-btn-close" type="button" class="btn-danger btn-sm " data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>